*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
}

.cabecalho{
    height: 80px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}

.logo img{
    width: 25%;
    height: 25%;
}
